extends layout

block content
  h1= title
  // Uncomment below to use the feed. Available item options are: content, date, time, author, id, source
  //.feed
      h2 The Feed:
      ul
        each item in feedItems
          li!= item['content'] + "<br>" + "<span class='small'>" + item['date'] + " @ " + item['time'] + "</span>"
      hr
  include ../content.md

